<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40028622441-fa41964p0k5vilrhvqsgp50b748gtvb4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40028622441-fa41964p0k5vilrhvqsgp50b748gtvb4</string>
	<key>API_KEY</key>
	<string>AIzaSyDhT9HZQRqgbeUz-VJh1pNKS93N0MaJ_Ic</string>
	<key>GCM_SENDER_ID</key>
	<string>40028622441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder-2-fab04</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-2-fab04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40028622441:ios:6c0b0f84fa3c673b1a1cf8</string>
</dict>
</plist>